
/*********************************CONTACT ME******************************/
/*.Contact_Me{
	height:auto;
    font-size: 40px;
}
#Contact{
    width: 70%;
    margin-left: calc(15% - 50px);
	padding-left:50px;
    padding-right: 50px;
    padding-top: 40px;
	background-color: #333333;
    color:white;
}
input, textarea{
    width:100%;
    background-color: #333333;
    color:white;
    padding:7px;
    font-size: 20px;
    border-radius: 3px;
    border-width: 2px;
    border-color: rgba(255,255,255,.2);
    outline-color: transparent;
    outline-style: none;
    border-style: solid;
    resize: none;
}
input:focus, textarea:focus {
    border-color: #066AFF;
}

.Send_Button{
    margin-left:35%;
    color:white;
    width:30%;
    padding-top: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;

}
.Send_Button:hover{
    color:#066AFF;
	background-color: white;
}

@media all and (max-width: 750px) {
    #Contact{
        width: auto;
        margin-left: 0px;
        padding-left:15px;
        padding-right: 15px;
    }

}*/
