
/*********************Navigation Bar************************/
.active{
    color: #066AFF;
}
.Navigation{
    opacity:0;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    opacity:1;

}
.Content-Nav{
    margin-top: 85px;
}

button > a {
    text-decoration:none;
}


header {
    height:40px;
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center;
    background-color: rgba(0, 0, 0, .9); 
    padding:1.5em 0;
}
header:hover{
        -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    background-color: rgba(0, 0, 0, 1); 
}

#logo {
    padding-left:2em;
}

.menu-btn {
    display:none;
    -webkit-flex-flow: column; 
    -mos-flex-flow: column; 
    flex-flow: column;
    padding:1em 2em;
    color:#fff;
    font-size:1.5em;
    cursor:pointer;
}
.menu-btn:hover{
    color:#066AFF;
}

#mobile-menu {
    display: none;
    position: fixed;
    right:-1000px;
    height:100%;
    align-items: center;
    width:100%;
    z-index:999;
    color: white;
    background-color: #333333;
}

#mobile-menu > ul {
    height:100%;
    width:100%;
    -webkit-flex-flow: column; 
    -mos-flex-flow: column; 
    flex-flow: column;
   
    padding:0;
}

#mobile-menu > ul > a > li {
    list-style-type:none;
    text-align:center;
    padding-top: calc(20% - 50px);
    padding-bottom: calc(20% - 50px);
    text-align: center;
    font-size: 50px;
}  

#mobile-menu > ul > a > li:hover{
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
    background: rgba(0, 0, 0, 0.5); 
    color: #066AFF;
}   

#mobile-menu > ul > a {
    color:#fff;
    text-decoration:none
}
.close-btn {
    cursor: pointer;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    color: white;
    text-align: right;
}
.close-btn:hover{
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
    color: #066AFF;
}

nav {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    -webkit-justify-content:flex-end;
    -moz-justify-content:flex-end;
    justify-content:flex-end;
    padding-right:2em;
}

nav > ul {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between
}

nav > ul > li {
    padding:0 1em;
    list-style-type:none;
    font-size:1.2em;
    font-weight:300;
}

nav > ul > li:last-child {
    padding-right:0;
}

nav > ul > li > a {
    text-decoration:none;
    color:#fff;
}

nav > ul > li > a:hover {
    color:#066AFF;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}

.menu-btn {
    display:none;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}

#contact-bar {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    height:auto;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center;
    width:100%;
}

#contact-bar > ul {
    padding:.5em 0;
}

#contact-bar > ul > li {
    padding:.5em
}

.desktop {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
}
  
}

@media all and (max-width: 700px){
.sticky{
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
}
.Navigation{
    height:100%;
    display:visible;
}
#mobile-menu {
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
   display: visible;
   opacity: 1;
   position: absolute;
   top:0px;
}

}


@media (min-width: 751px){
  #mobile-menu > ul{
    display:none;
  }
}

@media all and (max-width: 750px){
.sticky{
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
}
.Content-Nav{
    margin-top: 0px;
}
body {
    width:100%;
}
.Navigation{
    width: 100%;
    left: 0;
    z-index: 100;
    border-top: 0;
    display: visible;
   opacity: 1;
   position: fixed;
   top:0px;
}
.menu-btn {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
}

#mobile-menu {
    display: visible;
    opacity: 1;
    height:100%;
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
}

#contact-bar {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    height:auto;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center;
    width:100%;
}

#contact-bar > ul {
    padding:.5em 0;
}

#contact-bar > ul > li {
    padding:.5em;
}

.desktop {
    display:none;
}

}