/******************************PROJECTS****************************/
#Project_Logo{
    width:150px;
}
#Project_Info{
    font-size: 20px;
}
.Projects{
    height:auto;
    background-color: #066AFF;
}

.flex-container2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    left:0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
    display: flex;
    width:auto;
   
   /* width:auto;*/
/*    margin-left:calc(50% - 450px);
*/    align-items: center;
    -webkit-flex-flow: row wrap;
    visibility: hidden;
}
@media all and (min-width: 751px) and (max-width: 980px) {
    .flex-container2{
        padding-left:calc(50% - 330px);
        width:660px;
        margin-left: 0px;
                -webkit-transition: all .5s; 
        -moz-transition: all .5s; 
        -o-transition: all .5s; 
        transition: all .5s;
    }
}
.flex-item3{
    color: white;
    width:300px;
         /*   flex: 1 100%;*/

    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}


.flex-item3 > a, .flex-item3 > a:active, .flex-item3 > a:hover{
    color:white;
}
.flex-item3:hover{
    padding-left:30px;
    padding-right: 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}

@media all and (max-width: 750px) {
    #Project_Logo{
        width:30%;

    }
    .flex-container2{
        margin-left: 0px;
        width: auto;
        padding: 0px;
    }
    .flex-item3{
        padding-top:50px;
        padding-bottom: 50px;
        flex: 1 100%;
        -webkit-transition: all .5s; 
        -moz-transition: all .5s; 
        -o-transition: all .5s; 
        transition: all .5s;
        font-size: 30px;
    }
}
