
.flex-container {
  padding: 0;
  list-style: none;
  left:0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width:700px;
  margin-left:calc(50% - 350px);
  align-items: center;
  -webkit-flex-flow: row wrap;
  visibility: hidden;
}
.flex-item1, .flex-item2{
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}
.flex-item1 {
  padding-top: 40px;
  padding-bottom: 40px;
  width:200px;
  color: white;
  font-size: 30px;
  text-align: center;
}
.flex-item2 {
  padding-top: 40px;
  padding-bottom: 40px;
  width:500px;
  color: white;
  font-size: 30px;
  text-align: center;
}
@media all and (max-width: 750px) {
    .flex-item1, .flex-item2 {
        flex: 1 100%;
        -webkit-transition: all .5s; 
        -moz-transition: all .5s; 
        -o-transition: all .5s; 
        transition: all .5s;
    }
    .flex-item1:first-child{
        padding-top: 0px;
    }
    .flex-item1{
        padding-top:50px;
        padding-bottom: 0px;
    }
    .flex-item2{
        font-size: 5vw; 
        padding:0px;
        padding-top: 10px;
    }
    .flex-item2:last-child{
        padding-bottom: 50px;
    }
}

/********************Highlighting text***********************/
hr{
    width:50%;
    color:white;
    height: 1px;
    background-color: white;
    border-width: 0px;
    opacity: .5;
}
*::selection {
  background: red; /* WebKit/Blink Browsers */
  color: white;

}
*::-moz-selection {
  background: black; /* Gecko Browsers */
  color: white;
}

body{
	margin:0;
	font-family: 'Josefin Sans', sans-serif;
    background-color: #333333;
    width:100%;
}
a{
    text-decoration: none;
}

/**********************Introduction Page*********************/
.Intro{
	background-color: #333333;
    height:100%;
}
svg{
	width:70%;
	margin-left:15%;
}
.Name_Title{
    position:absolute;
    color: white;
    font-size:55px;
    margin-top:-180px;
    margin-left: 68%;
    padding-top: 50px;
}
#logo > img{
	width:80px;
}
#Down{
    color:white;
    margin-top: -80px;
}
#Down:hover{
    cursor: pointer;
    color:#066AFF;
}
@media all and (max-width: 800px) {
    .Name_Title{
        font-size: 10vw;
        margin-left: calc(50% - 25vw);
        margin-top:-140px;
    }
    #logo > img{
        display: none;
        opacity: 0;
    }
}

/***************************ABOUT***************************/
.About{
    height:auto;
/*    min-height: 1100px;
*/    width: calc(100%);
    background-color: #066AFF;
    overflow: hidden;
}

.Profile > img{
    padding-bottom: 50px;
    padding-top: 90px;
    width:40%;
    max-width: 400px;
    display:block;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.Resume_Button{
    margin-left:calc(50% - 140px);
    width:270px;
    padding-top: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    color:white;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}
.Resume_Button:hover{
    cursor: pointer;
    color: #333333;
    background-color: white;
 /*  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);*/
}
.Goal{
    font-size:45px;
    padding:40px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    color:white;
}

.Education{
    color:white;
	font-size: 30px;
/*	padding:40px;	
*/    text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
}
table{
    display:block;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align: center;
    color:white;
    font-size: 35px;
    padding-bottom: 35px;
}
td{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
tr{
    visibility: hidden;
}
#Icon{
    font-size: 70px;
/*    text-shadow: 2px 2px red;
*/}
@media all and (max-width: 750px) {
    table{
      /*  padding:0px;*/
    }
    td{
        padding-left: 15px;
        padding-right: 0px;
    }

    #wordsAlign{
        font-size: 20px;
        text-align: center;
    }

    .Profile > img{
       /* padding-top: 50px;*/
        width:78%;
    } 
    .Education{
        font-size: 30px;

    }
    .Goal{
        width:90%;
        font-size: 40px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top:110px;
        padding-bottom:70px;
    }
    .Resume_Button{
        margin-left: calc(5% - 5px);
      /*  padding:0px;*/
        width:90%;
    }

}

/******************************PROJECTS****************************/
#Project_Logo{
/*    padding: 10px;
*/    width:150px;
}
#Project_Info{
    font-size: 20px;
}
.Projects{
    height:auto;
    background-color: #066AFF;
/*    min-height: 720px;
*/}
#Title{
    background-color: white;
	padding:25px;
    font-size: 100px;
	text-align: center;
/*    text-shadow: 2px 2px red;
*/}

.flex-container2 {
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    left:0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;


    display: flex;
    width:auto;
/*    margin-left:calc(50% - 450px);
*/    align-items: center;
    -webkit-flex-flow: row wrap;
    visibility: hidden;
}
.flex-item3{
    color: white;
    width:300px;
         /*   flex: 1 100%;*/

    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}
.flex-item3 > a, .flex-item3 > a:active, .flex-item3 > a:hover{
    color:white;
}
.flex-item3:hover{
    padding-left:30px;
    padding-right: 30px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}
/*#Project_Container{
    background-color: red;
}*/
/*#Project_Container{
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}
#Project_Container:hover, .flex-item3:hover{
    padding-right:50px;
    padding-left: 50px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2); 
    cursor: pointer;
        -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}*/

@media all and (max-width: 750px) {
    #Project_Logo{
        width:30%;

    }
    .flex-container2{
        margin-left: 0px;
        width: auto;
        padding: 0px;
    }
    .flex-item3{
        padding-top:50px;
        padding-bottom: 50px;
        flex: 1 100%;
        -webkit-transition: all .5s; 
        -moz-transition: all .5s; 
        -o-transition: all .5s; 
        transition: all .5s;
        font-size: 30px;
    }
}
/*
.P1, .P2, .P3, .P4{
	padding:50px;
	background-color: #333333;
	cursor: pointer;
	text-align: center;
	font-size: 48px;
	color:white;
    height:55px;
    vertical-align: middle;

}
.P1:hover, .P2:hover, .P3:hover, .P4:hover{
	background-color: #066AFF;
}
.P1:hover span, .P2:hover span, .P3:hover span, .P4:hover span{
    display:none;
}
.P1:hover:after{
    font-size: 30px;
    content: "Full Stack Java application used by 100+ Data Analysts";
}
.P2:hover:after{
    font-size: 30px;
    content: "Mentorship program aimed towards developing technical Computer Science skills. Completed Udacity Android course and developed NomNom.";
}
.P3:hover:after{
    font-size: 30px;
    content: "Anonymous, online stigma-awareness forum web application.";
}
.P4:hover:after{
    font-size: 30px;
    content: "Online flashcard database used to study and compete amongst peers.";
}*/

/*********************************CONTACT ME******************************/
.Contact_Me{
	height:auto;
    font-size: 40px;
    margin-top: -16px;
}
#Contact{
    width: 70%;
    margin-left: calc(15% - 50px);
	padding-left:50px;
    padding-right: 50px;
    padding-top: 40px;
	background-color: #333333;
    color:white;
}
input, textarea{
    width:100%;
    background-color: #333333;
    color:white;
    padding:7px;
    font-size: 20px;
    border-radius: 3px;
    border-width: 2px;
    border-color: rgba(255,255,255,.2);
    outline-color: transparent;
    outline-style: none;
    border-style: solid;
    resize: none;
}
input:focus, textarea:focus {
    border-color: #066AFF;
}

.Send_Button{
    margin-left:35%;
    color:white;
    width:30%;
    padding-top: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    font-size: 50px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;

}
.Send_Button:hover{
    color:#066AFF;
	background-color: white;
}

@media all and (max-width: 750px) {
    #Contact{
        width: auto;
        margin-left: 0px;
        padding-left:15px;
        padding-right: 15px;
    }
/*    .P1:hover:after, .P2:hover:after, .P3:hover:after, .P4:hover:after{
        font-size: 20px;
    }
    .P1, .P2, .P3, .P4{
        padding:60px;
    }*/
    #Title{
        font-size: 50px;
    }
    .Send_Button{
        width: calc(100% - 34px);
        margin-left: 14px;
    }

}

/*********************Navigation Bar************************/
#Active{ /***Made for potentially showing which active menu status you are on ***/
    color:#066AFF;
}
.Navigation{
    opacity:0;
}
.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    opacity:1;

}
.Content-Nav{
    margin-top: 85px;
}

button > a {
    text-decoration:none;
}


header {
    height:40px;
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center;
    background-color: rgba(0, 0, 0, .8); 
    padding:1.5em 0;
}
header:hover{
        -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    background-color: rgba(0, 0, 0, 1); 
}

#logo {
    padding-left:2em;
}

.menu-btn {
    display:none;
    -webkit-flex-flow: column; 
    -mos-flex-flow: column; 
    flex-flow: column;
    padding:1em 2em;
    color:#fff;
    font-size:1.5em;
    cursor:pointer;
}
.menu-btn:hover{
    color:#066AFF;
}

#mobile-menu {
    display: none;
    position: fixed;
    right:-1000px;
    height:100%;
    align-items: center;
    width:100%;
    z-index:999;
    margin-top:0em;
    color: white;
    background-color: #333333;
}

#mobile-menu > ul {
    height:100%;
    width:100%;
    -webkit-flex-flow: column; 
    -mos-flex-flow: column; 
    flex-flow: column;
    text-align:center;
    padding:0;
/*    background-color: red;
*/}

#mobile-menu > ul > a > li {
    list-style-type:none;

    /*padding:1.1em 2em;*/
/*    padding:10%;
*/  
   /* padding-top:17%;
    padding-bottom: 17%;*/
/*    background-color: green;
*/
    text-align: center;
    font-size: 50px;
}  
#mobile-menu > ul > a > li:hover{
    -webkit-transition: all .5s; 
    -moz-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    background: rgba(0, 0, 0, 0.5); 
    color: #066AFF;
}   


#mobile-menu > ul > a {
    color:#fff;
    text-decoration:none
}
.close-btn {
  color: white;
  padding-bottom: 1em;
  text-align: right;
}

nav {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    -webkit-justify-content:flex-end;
    -moz-justify-content:flex-end;
    justify-content:flex-end;
    padding-right:2em;
}

nav > ul {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between
}

nav > ul > li {
    padding:0 1em;
    list-style-type:none;
    font-size:1.2em;
    font-weight:300;
}

nav > ul > li:last-child {
    padding-right:0;
}

nav > ul > li > a {
    text-decoration:none;
    color:#fff;
}

nav > ul > li > a:hover {
    color:#066AFF;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}

.menu-btn {
    display:none;
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}

#contact-bar {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    height:auto;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center;
    width:100%;
}

#contact-bar > ul {
    padding:.5em 0;
}

#contact-bar > ul > li {
    padding:.5em
}

.desktop {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
}
  
}

@media all and (max-width: 700px){
.sticky{
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
}
.Navigation{
    height:100%;
    display:visible;
}
#mobile-menu {
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
   display: visible;
   opacity: 1;
   position: absolute;
   top:0px;
}

}


@media (min-width: 751px){
  #mobile-menu > ul{
    display:none;
  }
}

@media all and (max-width: 750px){
.sticky{
    -webkit-transition: none; 
    -moz-transition: none; 
    -o-transition: none; 
    transition: none;
}
.Content-Nav{
    margin-top: 0px;
}
body {
    width:100%;
}
.Navigation{
    width: 100%;
    left: 0;
    z-index: 100;
    border-top: 0;
    display: visible;
   opacity: 1;
   position: fixed;
   top:0px;
}
.menu-btn {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
}

#mobile-menu {
    display: visible;
    opacity: 1;
    height:100%;
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
}

#contact-bar {
    display:flex;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    height:auto;
    -webkit-align-items:center;
    -ms-align-items:center;
    -moz-align-items:center;
    align-items:center;
    width:100%;
}

#contact-bar > ul {
    padding:.5em 0;
}

#contact-bar > ul > li {
    padding:.5em;
}

.desktop {
    display:none;
}

}
/***************Credentials**********************/
.Credentials{
    margin-top: 30px;
    color: white;
    text-align: center;
}
.Credentials > a{
        -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
    color:white;
}
.Credentials > a:hover{
    color: #066AFF;
}

/*******************Transitions*********************/
#Goal, #ProfilePic, #Resume_Button, #Education{
     visibility: hidden;
}



.slideUp{

    animation-name: slideUp;
    -webkit-animation-name: slideUp;    

    animation-duration: 1s;   
    -webkit-animation-duration: 1s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;

    visibility: visible !important;         

}

@keyframes slideUp {
    0% {
        transform: translateX(100%);
        opacity:0;
    }
    70%{
        opacity:1;
    }          
    100% {
        transform: translateY(0%);
    }   
    
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateX(100%);
        opacity:0;
    }
    50% {
    opacity:1;
    }

}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

      animation-duration: 1s;   
    -webkit-animation-duration: 1s;

        animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;

    visibility: visible !important;         
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




/***********PROJECTS***********/


 path {
        stroke-dasharray: 2000;
        stroke-dashoffset: 2000;
        animation: dash 4s linear forwards;
    }

    @keyframes dash {
      to {
        stroke-dashoffset: 10;
      }
  }